/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    piperline Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    ///// Input options
    data_folder         = "test_data/single"   // directory name for location of run data; string
    // reference_folder    = null

    extension           = null                      // file extension for reads; string
    illumina            = true                      // data input is Illumina reads; boolean
    pacbio              = false                     // data input is PacBio reads; boolean
    nanopore            = false                     // data input is Nanopore reads; boolean

    ///// reporting
    report.overwrite    = true

    // threads             = null                      // threads for multithreading
}

profiles {
    debug {
        // 
    }
}