/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    piperline Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    ///// Input options
    data_folder         = "test_data/single"   // directory name for location of run data; string
    // reference_folder    = null

    extension           = null                      // file extension for reads; string
    illumina            = true                      // data input is Illumina reads; boolean
    pacbio              = false                     // data input is PacBio reads; boolean
    nanopore            = false                     // data input is Nanopore reads; boolean

    high_sensitivity    = true                      // enable dada2 high-sensitivity (pseudo-pooling) mode; boolean

    threads             = null                      // threads for multithreading; integer
}

profiles {
    debug {
        // 
    }
}

report {
    enabled             = true
    overwrite           = true
    file                = "output/report.html"
}

trace {
    file                = "trace/trace.txt"
}

dag {
    enabled             = true
    overwrite           = true
    file                = "output/dag.html"
    verbose             = true
}

executor {
    name = "local"
    // cpus = 1 // restricts pipeline cpu use to single core (ie. no parallel processes) 
}